<div class="container">
  <div>
    <h2>Ajouter un Supplément :</h2>
  </div>
  <form [formGroup]="addSupplementForm" (ngSubmit)="addSupplement()">
    <div class="col-sm-4 col-md-4 col-lg-4" hidden>
      <label>ID Supplément</label>
      <input type="text" formControlName="idSupplement" class="form-control" required />
      <div *ngIf="addSupplementForm.get('idSupplement')?.touched && addSupplementForm.get('idSupplement')?.errors?.['required']" class="text-danger">
        Le ID du supplément est obligatoire.
      </div>
      <div *ngIf="addSupplementForm.get('idSupplement')?.touched && addSupplementForm.get('idSupplement')?.errors?.['minlength']" class="text-danger">
        Le ID doit contenir au moins 1 caractère.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Supplément</label>
      <input type="text" formControlName="nomSupplement" class="form-control" required />
      <div *ngIf="addSupplementForm.get('nomSupplement')?.touched && addSupplementForm.get('nomSupplement')?.errors?.['required']" class="text-danger">
        Le nom du supplément est obligatoire.
      </div>
      <div *ngIf="addSupplementForm.get('nomSupplement')?.touched && addSupplementForm.get('nomSupplement')?.errors?.['minlength']" class="text-danger">
        Le nom doit contenir au moins 3 caractères.
      </div>
    </div>

   <!--  <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" required />
      <div *ngIf="addSupplementForm.get('email')?.touched && addSupplementForm.get('email')?.errors?.['invalidEmail']" class="text-danger">
        L'email doit contenir '&#64;' et se terminer par '.com'.
      </div>
      <div *ngIf="addSupplementForm.get('email')?.touched && addSupplementForm.get('email')?.errors?.['required']" class="text-danger">
        L'email est obligatoire.
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Prix Supplément</label>
      <input type="number" formControlName="prixSupplement" class="form-control" required />
      <div *ngIf="addSupplementForm.get('prixSupplement')?.touched && addSupplementForm.get('prixSupplement')?.errors?.['required']" class="text-danger">
        Le prix est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Dosage Supplément</label>
      <input type="text" formControlName="dosageSupplement" class="form-control" required />
      <div *ngIf="addSupplementForm.get('dosageSupplement')?.touched && addSupplementForm.get('dosageSupplement')?.errors?.['required']" class="text-danger">
        Le dosage est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Création</label>
      <input type="date" formControlName="dateCreation" class="form-control" required />
      <div *ngIf="addSupplementForm.get('dateCreation')?.touched && addSupplementForm.get('dateCreation')?.errors?.['required']" class="text-danger">
        La date de création est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label> Nutritionnelle</label>
      <select class="form-control" formControlName="idNut" required>
        <option value="">Sélectionner une nutritional</option>
        <option *ngFor="let nut of nutritionals" [value]="nut.idNut">{{ nut.nomNut }}</option>
      </select>
      <div *ngIf="addSupplementForm.get('idNut')?.touched && addSupplementForm.get('idNut')?.errors?.['required']" class="text-danger">
        La catégorie nutritionnelle est obligatoire.
      </div>
    </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>
