<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gestion des Supplements</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Gestion Supplements</a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/supplements" >Home</a>
          </li>
          
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Supplements
          </a>
          <div class="dropdown-menu">
            <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="add-supplement">Ajouter</a>
            <a class="dropdown-item" href="#">Lister</a>
            <a class="dropdown-item" routerLink="/rechercheParNutritional" >Recherche Par
              Nutritional</a>
              <a class="dropdown-item" routerLink="/rechercheParNom" >Recherche Par Nom</a>
              <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/listeNutritionals" >Gestion des Nutritionals</a>

          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li> <a class="nav-link"></a></li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            [{{authService.loggedUser}}]
          </a>
          <div class="dropdown-menu">
<a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink = "login">login</a>
<a *ngIf="authService.isloggedIn" class="dropdown-item" (click) = "onLogout()">logout</a>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
        </li>
      </ul>
    </nav>
  </body>
</html>
<router-outlet></router-outlet>
