<div class="container">
  <div>
    <h2>Modifier un Supplement :</h2>
  </div>
  <form [formGroup]="updateSupplementForm" (ngSubmit)="updateSupplement()">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Supplement</label>
      <input type="text" formControlName="IdSupplement" class="form-control" required />
      <div *ngIf="updateSupplementForm.get('IdSupplement')?.touched && updateSupplementForm.get('IdSupplement')?.invalid" class="text-danger">
        Le ID du supplément est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Supplement</label>
      <input type="text" formControlName="nomSupplement" class="form-control" required minlength="3" />
      <div *ngIf="updateSupplementForm.get('nomSupplement')?.touched && updateSupplementForm.get('nomSupplement')?.invalid" class="text-danger">
        Le nom doit comporter au moins 3 caractères.
      </div>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Supplement</label>
      <input type="number" formControlName="prixSupplement" class="form-control" required />
      <div *ngIf="updateSupplementForm.get('prixSupplement')?.touched && updateSupplementForm.get('prixSupplement')?.invalid" class="text-danger">
        Le prix est obligatoire.
      </div>
    </div>

   <!--  <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" required />
      <div *ngIf="updateSupplementForm.get('email')?.touched && updateSupplementForm.get('email')?.invalid" class="text-danger">
        Veuillez entrer un email valide.
      </div>
      <div *ngIf="emailInvalid()" class="text-danger">
        L'email doit contenir '&#64;' et '.com'.
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Dosage Supplément</label>
      <input type="text" formControlName="dosageSupplement" class="form-control" required />
      <div *ngIf="updateSupplementForm.get('dosageSupplement')?.touched && updateSupplementForm.get('dosageSupplement')?.invalid" class="text-danger">
        Le dosage est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Création</label>
      <input type="date" formControlName="dateCreation" class="form-control" required />
      <div *ngIf="updateSupplementForm.get('dateCreation')?.touched && updateSupplementForm.get('dateCreation')?.invalid" class="text-danger">
        La date de création est obligatoire.
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nutritionnelle</label>
      <select class="form-control" formControlName="idNut" required>
        <option value="">Sélectionner une Nutritionnelle</option>
        <option *ngFor="let nut of nutritionals" [value]="nut.idNut" [selected]="nut.idNut === updatedNutId">{{ nut.nomNut }}</option>
      </select>
      <div *ngIf="updateSupplementForm.get('idNut')?.touched && updateSupplementForm.get('idNut')?.errors?.['required']" class="text-danger">
        La catégorie nutritionnelle est obligatoire.
      </div>
    </div>
    
    <div class="mt-2">
      <button type="submit" class="btn btn-success">Modifier</button>
    </div>

  </form>
</div>
