<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">

        <thead>
          <tr> <th>Id</th><th>Nom</th> <th>Prix</th><th>Dosage</th><!-- <th>email</th> --> <th>Date Création</th><th>Nutritional</th> </tr>
        </thead>
        <tbody *ngFor="let supplement of supplements">
          <tr>
            <td>{{supplement.idSupplement}}</td>
            <td>{{supplement.nomSupplement}}</td>
            <td>{{supplement.prixSupplement}}</td>
            <td>{{supplement.dosageSupplement}}</td>
            <!-- <td>{{supplement.email}}</td> -->
            <td>{{supplement.dateCreation | date:'dd/MM/yyyy'}}</td>
            <td>{{supplement.nutritional.nomNut}}</td>
            <td><a  *ngIf="authService.isAdmin()"
              class="btn btn-danger" (click)="supprimerSupplement(supplement)">Supprimer</a></td>
            <td><a *ngIf="authService.isAdmin()"
              class="btn btn-success" [routerLink]="['/updateSupplement',supplement.idSupplement]">Modifier</a></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
